<footer class="page-footer red">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">BusApp</h5>
                <p class="grey-text text-lighten-4">
                    Aplicación para adaptar a móviles la web de información de autobuses públicos de Salamanca.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="/acerca-de">Acerca de</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="http://salamanca.twa.es/" target="_blank">Salamanca de Transportes</a>
                    </li>                    
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">            
            <a class="grey-text text-lighten-4 right" href="http://about.me/jmmerino">Jesús Merino</a>
        </div>
    </div>
</footer>