<footer class="page-footer red">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h5 class="white-text">BuSal</h5>
                <p class="grey-text text-lighten-4">
                    Consulta de horarios de autobuses en Salamanca
                </p>
            </div>            
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">            
            <a class="grey-text text-lighten-4 right" href="http://about.me/jmmerino">Jesús Merino</a>
        </div>
    </div>
</footer>