
<nav class="red">    
    <div class="nav-wrapper">        
        <div class="col s12">
            <a href="/" class="brand-logo">BusApp</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
        </div>
        <ul class="right hide-on-med-and-down">
            <li><a href="/acerca-de">Acerca de</a></li>            
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/acerca-de">Acerca de</a></li>                        
        </ul>
    </div>    
</nav>
