<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    
    <header>
        <% include ../partials/header %>    
    </header>

    <div class="row">
        <div class="col s12 m8">
            <h3>¿Por qué?</h3>
            <p class="flow-text">
                Hacía tiempo que llevaba con ganas de hacer algo con Node.js, además de que llevaba AÑOS queriendo mejorar la interfaz de la web de consulta de horarios de autobuses de salamanca. Esta ha sido la razón por la que he hecho este experimento.
            </p>                    
            <p class="flow-text">
                Está alojado en heroku, con una cuenta gratuita (por lo que se caerá de vez en cuando...) y todo el código que he usado está en github.                        
            </p>
            <p class="flow-text">
                Se ha usado la información de la web oficial (http://salamanca.twa.es/) para tratar de mejorar la interfaz y añadir alguna funcionalidad más. 
            </p>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="images/jmmerino.jpg">
                    <span class="card-title">Jesús Merino</span>
                </div>
                <div class="card-content">
                    <p>
                        Este soy yo, el responsable detrás de este experimento.
                    </p>
                </div>
                <div class="card-action">
                    <a href="https://github.com/jmmerino/busapp-node">Github</a>
                    <a href="https://about.me/jmmerino">Contacto</a>
                </div>
            </div>
        </div>        
    </div>
    
    <% include ../partials/footer %>        
    
</body>
</html>