<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <div class="row">
        <div class="col s12">
            <h3>Ups, parece que ha habido une error</h3>
            <p class="flow-text">
                Siento las molestias, vuelve a intentarlo más tarde.
            </p>

        </div>
    </div>

    <% include ../partials/footer %>

</body>
</html>
