<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    
    <header>
        <% include ../partials/header %>    
    </header>

    <div class="row">
        <div class="col s12">
            <div class="collection with-header">
                <div class="collection-header">
                    <h4>Líneas de autobus</h4>
                </div>
                <% lines.forEach(function(line) { %>                    
                    <a class="collection-item red-text" href="/linea?idl=<%= line.num %>">
                        <%= line.name %>
                    </a>
                <% }); %>
            </div>  
        </div> 
    </div>      
    
    <% include ../partials/footer %>        
    
</body>
</html>